* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body {
    width: 90%;
    height: 95vh;
    margin: 1% auto;
    padding: 0 0;
}

#menu {
    display: flex;
    justify-content: space-around;
    width: 80vh;
    height: 87vh;
    margin: 0 auto;
    position: relative;
    margin: 0 auto;
    padding: 0 0;
}

h4 {
    height: 3vh;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.piece {
    width: 55vh;
    height: 85vh;
    margin: 0 auto;
    padding: 0 0;
    border-radius: 10%;
    display: none;
}

#piece01 {
    border: 1px solid #daa0b2;
    background-color:  #daa0b2;
    display: block;    
}

#piece02 {
    border: 1px solid #eb5e82;
    background-color: #eb5e82;
}

#piece03 {
    border: 1px solid #726cfb;
    background-color: #726cfb;
}

div.playingNo {
    width: 100%;
    height: 7.50%;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 1000;

}

.topHeader {
    width: 100%;
    height: 100%;
    padding: 0 0;
    margin: 4% auto;
    

}
div.photoBlock {
    display: block;
    width: 100%;
    height: 35%;
    margin: 0 0;
    padding: 0 0;
}

.photo {
    display: block;
    height: 75%;
    padding: 0 auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

div.details {
    width: 100%;
    height: 15%;
    margin: 0 auto;
    padding: 0 0;
    text-align: center;
}

.pieceName {
    font-size: 70px;
    padding: 0 0;
    margin: 0 auto;
}

.artistName {
    padding: 0 0;
    margin: 0 auto 3% auto;
    font-size: 3vh;
}


.controls {
    position: absolute;
    bottom: 20%;
    width: 55vh;
    height: 15%;
    margin: 0 auto;
    padding: 0 auto;
}

.button_set {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

.playback {
    height: 6vh;
    width: 5vh;
    padding: 0 0;
    font-size: 5vh;
    letter-spacing: -8px;
    text-align: left;
    margin-top: 6%;
    background-color: transparent;
    border: none;
}

.forward {
    height: 6vh;
    width: 5vh;
    padding: 0 0;
    font-size: 5vh;
    letter-spacing: -8px;
    text-align: center;
    margin-top: 6%;
    background-color: transparent;
    border: none;
}


.play, .pause{
    height: 100%;
    width: 30%;
    padding: 0 auto;
    margin: 0 2%;
    font-size: 8vh;
    text-align: center;
    border-radius: 50%;
    color: #ffff;
    border: 1px solid #0000;
    background-color: black;
}


.barElements {
    position: absolute;
    bottom: 15%;
    width: 55vh;
    height: 2.50%;
    margin: 0 0;
    padding: 0 0;
}

.mainBarContainer {
    display: flex;
    justify-content: space-around;
    width: inherit;
    height: 100%;
    margin: 0 0;
    padding: 0 0;
}
.progress {
    width: 80%;
    height: 50%;
    margin: 1% 0;
    background-color: #ddd;
}

.bar {
    width: 0.05%;
    height: 100%;
    background-color: #04AA6D;
  }

.zero, .totalDuration {
    width: 10%;
    padding: 0 0;
    margin: 0 auto;
    text-align: center;
    font-weight: 1000;
}

  .volumeElements {
    display: flex;
    justify-content: space-around;
    width: 55vh;
    position: absolute;
    bottom: 10%;
    margin: 0 auto;
    padding: 0 5%;
    height:3%;
   }
   
   .volume_slider {
    min-width: 40vh;
    height: 50%;
    padding: 1.2vh 0;

   }

   .volume0, .volume100 {
    width: 4vh;
    padding: 0 0;
    text-align: center;
    font-size: 2vh;
   }

.prev {
   cursor: pointer;
   position: absolute;
   top: 50%;
   left:5%;
   width: auto;
}

.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 84%;
    width: auto;
 }
   .prev, .next {
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 72px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .dot {
    cursor: pointer;
    height: 22px;
    width: 22px;
    margin: 0 1%;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  #dots_panel {
      margin: 0 auto 10vh auto;
      padding: 0 0;
      height: 3vh;
  }
